{% extends "main.html" %}
{% block content %}
    <div class = 'header'>
      <h1>Delete Menu Item</h1>
    </div>
    <div class="delete-container">
      <h1> Are you sure you want to delete {{item.name}}? </h1>
      <form action="{{ url_for('deleteMenuItem',restaurant_id = item.restaurant_id, menu_id=item.id)}}" method = 'post'>
        <input type='submit', value = 'Delete'>
      </form>
      <a class="cancel-delete" href = '{{url_for('showRestaurants')}}'> Cancel </a>
    </div>
{% endblock %}
